@import 'bootstrap/dist/css/bootstrap';

.search-area {
  padding-top: 50px;
}

.pr-0 {
  padding-right: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.results-block {
  display: inline-block;
}
